.plate
    font-family: 'Montserrat'
    padding: 20px
    background: $pallete-tertiary
    border-radius: 2px
    margin-top: 20px
    &_user
        margin-top: 10px
        padding: 0px
        font-size: 16px
        cursor: pointer
        box-shadow: 0 0 15px -10px grey
        button
            margin: 5px
        .col
            @include flex
            padding: 10px
    &__nav

    &__info
        width: 100%
        color: $pallete-secondary
    &__info-item
        margin-bottom: 10px
        font-size: 15px
        color: $pallete-secondary
        img
            max-height: 96px
            margin-top: 10px
            border-radius: 10px
            cursor: zoom-in
        span
            font-weight: bold
            display: inline-block
            margin-right: 10px
