.tab
    .s-btn-grp__roller
        @include transition(.3s)
        position: absolute
        top: 0
        left: 0
        height: 100%
        background: $pallete-primary
        z-index: 1
    &__btn-grp
        @include flex(center, flex-start)
    &__btn
        @include transition(.3s)
        $border-radius: 0px
        font-family: 'Montserrat'
        font-weight: bold
        color: $pallete-secondary
        border: hidden
        padding: 15px
        font-size: 15px
        background: transparent
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
        z-index: 2
        &_active
            color: $pallete-tertiary
    &__view
        border-top: 4px solid $pallete-primary
        padding: 20px 0
