@import "/incl/var"
@import "/incl/menu"

.addparts
    @include flex
    width: 100%
    padding: 20px
    margin-top: 20px
    input, select
        padding: 5px 10px
        font-size: 14px
        border: 1px solid $color-fi2
        border-radius: 5px
    label span
        &.active
            color: $color-li
            background: $color-green
            border: 2px solid $color-green
        &.error
            color: $color-li
            background: $color-red
            border: 2px solid $color-red
.part-box
    @extend [class*="shadow-dark"]
    @include flex
    width: 300px
    margin: 10px
    border-radius: 5px
    background: $color-li
    padding: 20px
    .vol, .part
        width: 120px
.section
    margin: 5px
    width: 250px
    select
        width: 100%
    p
        font-size: 13px
        margin-bottom: 8px
label
    cursor: pointer

.remove
    @include flex
    $size: 30px
    width: $size
    height: $size
    position: absolute
    cursor: pointer
    top: -5px
    right: -5px
    border-radius: 5px
    background: $color-red
    svg
        $size: 23px
        width: $size
        height: $size
        fill: $color-li

.panel
    cursor: pointer
    @include flex
    @extend [class*="shadow-dark"]
    margin: 10px
    padding: 10px
    background: $color-li
    width: 167px
    border-radius: 5px
    button
        margin: 5px
        width: 137px
        text-align: center
        padding: 10px
        border-radius: 5px
        font-size: 14px

.add-part-btn
    background: $color-green
    color: $color-li

.load-btn
    background: $color-fd
    color: $color-li

.load-zip
    @include flex
    text-align: center
    margin-top: 10px
    width: 250px
    padding: 10px
    font-size: 15px
    border: 1px solid $color-fi2
    border-radius: 5px
    border: 2px dashed $color-fi2
    svg
        margin-right: 10px
        $size: 23px
        width: $size
        height: $size
        fill: $color-se

[type="file"]
    display: none
