@import "incl/var"
@import "incl/menu"

.lists
    @include flex(center, space-between)
    width: 100%
    border-radius: 10px
    user-select: none
    button
        font-size: 13px
        background: transparent
        padding: 5px
        border: 1px solid #fff
        &.active
            border-radius: 25px
            border: 1px solid $color-fd

.manga-read-cont
    @include flex(flex-start, flex-start)
    border-radius: 10px
    width: 865px

section
    @include flex(flex-start, space-between)
    p
        color: $color-fd

.filters
    width: 295px
    height: 800px
    overflow-y: auto
    border-radius: 10px
    input[type="text"]
        width: 100%
        padding: 5px
        border-radius: 5px
        border: 1px solid rgb(225, 225, 225)
        margin-top: 10px
        font-size: 14px

.checkbox
    @include flex(flex-start, flex-start, $wrap: false)
    cursor: pointer
    user-select: none
    &.active
        .input
            background: $color-fd
            border-color: $color-fd
            &::after
                content: ''
                position: absolute
                width: 10px
                height: 10px
                left: 50%
                margin-left: -5px
                top: 50%
                margin-top: -5px
                border-radius: 2px
                background: #fff
    .text
        width: 213.95px
        font-size: 14px

.btn-box
    @include flex(center, flex-start)
    button
        font-size: 15px
        margin: 2.5px 0
        border-radius: 3px
        padding: 5px
        background: $color-fi2
    .add-filters
        background: $color-fd
        color: #fff
        margin-right: 10px

.input
    display: inline-block
    $size: 20px
    height: $size
    width: $size
    border-radius: 2px
    border: 1px solid rgb(225, 225, 225)
    margin-right: 10px

// .select
//     @include flex(center, space-between)
//     padding: 6px
//     margin: 10px
//     margin-top: 0
//     font-size: 15.5px
//     border-radius: 5px
//     border: 2px solid $color-green
//     color: $color-li
//     svg
//         fill: $color-li
//         &.arr
//             height: 20px
//             width: 20px
//     ul
//         display: none

%info
    display: inline-block
    position: absolute
    right: 0
    color: $color-li
    padding: 2px 5px
    font-size: 13px
    background: rgba($color-se, .9)

.manga-box
        $width: 149px
        width: $width
        transition: .2s
        div
            height: 227px
            width: $width
            border-top-left-radius: 15px
            border-bottom-right-radius: 15px
            .after
                @include flex
                position: absolute
                transition: .3s
                top: 0
                left: 0
                bottom: 0
                right: 0
                transform: scale(0)
                span
                    padding: 10px
                    background: $color-fd
                    color: $color-li
        .info
            @extend %info
            left: 0
            bottom: 0
            border-bottom-right-radius: 15px
        .translater
            @extend %info
            top: 0
        &:hover
            .info
                opacity: 0
            .translater
                opacity: 0
            div
                .after
                    transition: .3s
                    transform: scale(1)
            h3
                color: $color-fd
