@import "incl/var"
@import "incl/menu"

.b-r-5px
    border-radius: 5px

.flex-1
    @include flex(center, flex-start)

.step-3
    button
        @include flex
        background: transparent
        padding: 0 !important
        margin-left: 10px
        svg
            fill: $color-se
            $size: 30px
            height: $size
            width: $size

.w-45
    width: 45% !important

.file-load
    @include flex
    cursor: pointer
    margin-top: 20px
    width: 100%
    border: 2px dashed $color-fi2
    border-radius: 10px
    display: block
    padding: 30px
    img
        max-height: 96px
        margin-top: 10px
        border-radius: 10px
    span
        text-align: center
        font-size: 13px
        color: $color-se
    input
        height: 0
        opacity: 0

select
    width: 100%
    padding: 5px
    border-radius: 5px
    border: 1px solid $color-fi2
    font-size: 14px
    option
        border-radius: 5px

.genres
    overflow-y: auto
    max-height: 50vh

.checkbox
    @include flex(flex-start, flex-start, $wrap: false)
    cursor: pointer
    user-select: none
    .input
        display: inline-block
        height: 20px
        width: 20px
        margin-right: 10px
        border-radius: 2px
        border-width: 1px
        border-style: solid
        border-color: rgb(225, 225, 225)
        border-image: initial
    &.active
        .input
            background: $color-fd
            border-color: $color-fd
            &::after
                content: ''
                position: absolute
                width: 10px
                height: 10px
                left: 50%
                margin-left: -5px
                top: 50%
                margin-top: -5px
                border-radius: 2px
                background: #fff
    .text
        width: 213.95px
        font-size: 14px


.content
    border-radius: 5px
    margin-top: 50px
    padding: 70px
    padding-bottom: 100px
    padding-top: 80px
    width: 440px

    a
        border-radius: 10px
    button
        border-radius: 25px
        font-size: 14px
        padding: 5px 10px
        &.prev-step
            background: $color-fi2
        &.next-step
            background: $color-fd
            color: $color-li
    nav
        @include flex(center, space-between)
        position: absolute
        left: 30px
        right: 30px
        bottom: 15px
    span
        display: inline-block
    input[type="text"]
        padding: 5px 10px
        border: 1px solid $color-fi2
        font-size: 14px
        border-radius: 5px
        width: 300px
    textarea
        padding: 5px 10px
        border: 1px solid $color-fi2
        font-size: 14px
        border-radius: 5px
        width: 300px
        height: 150px

.progress
    @include flex
    position: absolute
    left: 10px
    right: 10px
    top: 15px
    span
        display: inline-block
        margin-left: 5px
        height: 7px
        width: 11%
        background: $color-fi2
        border-radius: 2px
        &.complete
            background: $color-fd
        &.active
            &::after
                content: ''
                border-radius: 0
                position: absolute
                left: 50%
                margin-left: -8px
                bottom: -23px
                background: transparent
                border: 8px solid transparent
                border-top: 10px solid $color-fd

.always
    display: inline-block
    &::after
        content: '*'
        font-size: 1em
        color: $color-red
        margin-left: 5px

.delegates
    span
        margin: 10px
        border-radius: 3px
        border: 1px solid $color-fd
        padding: 5px
        margin-left: 0
        display: inline-block
        cursor: pointer
        padding-right: 25px
        svg
            position: absolute
            right: 5px
            top: 50%
            margin-top: -6.5px
            $size: 13px
            fill: $color-se
            width: $size
            height: $size

.error-input
    border: 1px solid $color-red !important
    background: lighten($color-red, 30%)

.hide
    display: none !important

//
