@import "incl/var"

body
    padding-top: 0

.ereader-box
    overflow-y: auto
    height: 100vh
    width: 100vw
    background: #000
    z-index: 999
    background: darken($color-se, 19%)

img, span, div, p, button
    user-select: none

.ereader-img-box
    @include flex(flex-start, center)
    padding-top: 58px
    div
        @include flex
        width: 100%
    img
        max-width: 100%
header
    @include flex(center, flex-start)
    top: 0
    left: 0
    right: 0
    background: darken($color-se, 15%)
    z-index: 9997
    div, button, svg
        color: $color-fi2
        margin: 0 10px
.name
    &:hover
        background: rgba(#fff, .1)
.translator
    @include flex(center, flex-start)
.addBookmark
    svg
        cursor: pointer
        &:hover
            fill: $color-fd
svg
    $size: 26px
    height: $size
    width: $size
    fill: $color-fi2
    margin-right: 5px
button
    background: rgba(#fff, .05)
    border-radius: 5px
    padding: 10px
    color: $color-fi2
    &:hover
        background: rgba(#fff, .1)

.select
    @include flex
    background: rgba(#fff, .05)
    border-radius: 5px
    padding: 10px
    &:hover
        background: rgba(#fff, .1)
    span
    svg
        margin-left: 10px
        fill: $color-fi2
        width: 20px
        height: 20px
    ul
        display: none
        overflow-y: auto
        top: 44px
        left: 0
        right: 0
        border-radius: 5px
        background: darken($color-se, 15%)
        max-height: 296.8px
        li
            border-radius: 5px
            &:hover
                color: $color-fd
                background: rgba(#fff, .1)

.prev, .next
    @include flex
    position: fixed
    height: 100vh
    width: 200px
    cursor: pointer
    &:hover
        background: rgba(#fff, .2)
    svg
        fill: #fff
        height: 100px
        width: 100px
.prev
    left: 0
    top: 0

.next
    right: 0
    top: 0
    transform: rotate(180deg)

#ereaderSettingsModal
    left: 50%
    margin-left: -200px
    top: 50%
    margin-top: -175px
    width: 400px
    z-index: 9999
    display: none
    background: darken($color-se, 20%)
    border-radius: 10px
    *
        border-radius: 10px
        color: $color-fi2
        user-select: none
    h3
        padding: 5px 20px
    li
        padding: 5px 20px
        font-size: 14px
    section
        padding: 10px 0
    .radio
        @include flex(center, flex-start)
        padding: 5px 20px
        input
            display: none
            width: 24px
            height: 24px
        .radio_input
            &:checked + .radio_label
                color: $color-fd
                &::before
                    background: $color-fd
                &::after
                    opacity: 1
        .radio_label
            padding-left: 25px
            cursor: pointer
            font-size: 15px
            &::after
                content: ""
                display: block
                width: 18px
                height: 18px
                background: $color-fi
                border-radius: 50%
                opacity: 0
                position: absolute
                top: 2.5px
                left: 2.5px
                z-index: 2
                transition: opacity .1s linear
            &::before
                content: ""
                display: block
                width: 20px
                height: 20px
                background: $color-se
                border-radius: 50%
                position: absolute
                top: 0
                left: 0
                z-index: 1

.substrate
    display: none

.hide
    display: none !important
