@import "incl/var"
@import "incl/menu"

.home
    @include flex
    width: 100%
    height: 492px
    background-image: url(/assets/img/slider_bg.jpg)
    &__slider
        width: 1110px
        height: 100%
        img
            height: 100%
        .slide
            position: absolute
            left: 0
            top: 0
            height: 100%
            &.opacity-0
                transition: 1s
                opacity: 0
            &.opacity-1
                transition: 1s
                opacity: 1
        &__nav
            position: absolute
            bottom: 64px
            left: 26px
            z-index: 95
            span
                display: inline-block
                height: 35px
                width: 15px
                cursor: pointer
                border-radius: 10px
                margin-left: 10px
                &::after
                    transition: .4s
                    position: absolute
                    content: ''
                    bottom: 0
                    left: 0
                    right: 0
                    height: 15px
                    background: $color-fi2
                    border-radius: 10px
                &.active
                    &::after
                        transition: .4s
                        height: 35px
                        background: $color-fd

$homeContentBlockMargin: 10px
.home-content
    @include flex(flex-start, $wrap: false)
    margin-top: 50px
    .left-column
        width: 100%
        max-width: 900px
    .right-column
        width: 100%
        max-width: 300px

h2
    $line-gr: 8%
    background: linear-gradient(90deg, $color-se 0%, $color-fd $line-gr, $color-se $line-gr * 3)
    background-clip: text
    color: transparent
    display: inline-block
    animation: shine 3s linear infinite
    background-size: 200% auto
    @keyframes shine
        to
            background-position: -200% center

%info
    display: inline-block
    position: absolute
    right: 0
    color: $color-li
    padding: 2px 5px
    font-size: 13px
    background: rgba($color-se, .9)

.update-popular-manga, .new-manga-list-box
    $max-width: 900px - $homeContentBlockMargin * 2
    background: $color-li
    border-radius: 10px
    padding: 15px
    max-width: $max-width
    width: 100%
    .manga-update-container, .new-manga-list
        @include flex(flex-start)
    .manga-box
        $width: 121px
        width: $width
        transition: .2s
        div
            height: 167px
            width: $width
            border-top-left-radius: 15px
            border-bottom-right-radius: 15px
            .after
                @include flex
                position: absolute
                transition: .3s
                top: 0
                left: 0
                bottom: 0
                right: 0
                transform: scale(0)
                span
                    padding: 10px
                    background: $color-fd
                    color: $color-li
        .info
            @extend %info
            left: 0
            bottom: 0
            border-bottom-right-radius: 15px
        .translater
            @extend %info
            top: 0
        &:hover
            .info
                opacity: 0
            .translater
                opacity: 0
            div
                .after
                    transition: .3s
                    transform: scale(1)
            h3
                color: $color-fd

.filters
    @include flex(center, flex-end)
    span
        cursor: pointer
        padding: 7px
        &.active
            color: $color-fd
            &::after
                position: absolute
                content: ''
                top: 0
                bottom: 0
                left: 0
                right: 0
                border: 1px solid $color-fd
.new-part-manga
    background: $color-li
    border-radius: 10px
    padding: 15px
    .parts
        @include flex(center, space-between)
    h2
        display: inline-block

.manga-new-container
    .manga-box
        @include flex(flex-start, flex-start)
        .img
            width: 120px
            height: 160px
        .type
            @extend %info
            top: 0
        .info
            @include flex(flex-start, space-between)
            padding-left: 7px
            width: 730px
            &-box
                padding: 10px
                span
                    margin-right: 0
        .start-info
            @include flex(flex-start, space-between)
            width: 100%
        .all
            td
                background: $color-li
                color: $color-fd
                &:hover
                    color: $color-se
table
    border-spacing: 0
[class*="table-srt"]
    width: 100%
    tr
        &:nth-child(odd)
            background-color: $color-fi
        &:nth-child(even)
            background-color: $color-li
    td
        padding: 3px
        &:nth-child(even)
            text-align: right

[class*="hover-color-brand"]
    @extend [class*="transition-m"]
    &:hover
        color: $color-fd

.chat
    $max-width: 300px - $homeContentBlockMargin * 2
    max-width: $max-width
    width: 100%
    height: 500px
    background: $color-li
    border-radius: 10px
    margin-left: 0
    .message
        overflow-y: auto
        @include flex(flex-start)
        border-spacing: 0 10px
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 40px
        border-top-left-radius: 10px
        border-top-left-radius: 10px
        padding: 10px
        .ava
            display: inline-block
            height: 30px
            width: 30px
            border-radius: 50%
            margin-right: 10px
        .text
            width: $max-width - 30px
    .input-box
        height: 40px
        left: 0
        right: 0
        bottom: 0
        border-top: 1px solid $color-fi2
        width: 100%
        .error
            position: absolute
            top: -30px
            left: 10px
            background: $color-li
            display: none
        input
            font-size: 12px
            position: absolute
            left: 0
            top: 0
            bottom: 0
            width: $max-width - 40px
            border: 0
            padding: 0 10px
            border-bottom-left-radius: 10px
            border-bottom-right-radius: 10px
        .btn
            @include flex
            cursor: pointer
            top: 0
            right: 0
            height: 40px
            width: 40px
            background: $color-fd
            border-bottom-right-radius: 10px
            svg
                width: 28px
                height: 28px
                fill: $color-li
    div
        position: absolute

.list-manga
    $max-width: 300px - $homeContentBlockMargin * 2
    max-width: $max-width
    width: 280px
    background: $color-li
    border-radius: 10px
    padding: 10px
    margin-left: 0
    .line
        @include flex(center, flex-start)
        border-radius: 10px
        p, span
            margin-left: 7px
            @extend [class*="transition-m"]
        &:hover
            background: $color-fi
            *
                @extend [class*="transition-m"]
                color: $color-fd
        div
            max-width: 185px
    .cover
        width: 65px
        height: 91px
        border-radius: 5px
.rating
    @include flex($type:inline)
    svg
        fill: $color-se
        height: 20px
        width: 30px

.list-teams
    $max-width: 300px - $homeContentBlockMargin * 2
    max-width: $max-width
    width: 280px
    background: $color-li
    border-radius: 10px
    padding: 10px
    margin-left: 0
    .line
        @include flex(center, flex-start)
        border-radius: 10px
        padding: 5px
        margin-top: 10px
        &:hover
            background: $color-fi
    .num
        color: $color-li
        border-radius: 3px
        padding: 2px 5px
        background: $color-fd
    svg
        width: 13px
        height: 13px
        fill: $color-fd
    span
        margin: 5px
    .info
        @include flex(center, flex-start)


.select
    @include flex(center, flex-start)
    span
        cursor: pointer
    ul
        display: none
        overflow-y: auto

.close
    width: 50px
    height: 50px
    &::before
        transform: rotate(45deg)
        position: absolute
        content: ''
        width: 30px
        height: 2px
        top: 50%
        margin-top: -1px
        left: 50%
        margin-left: -15px
    &::after
        transform: rotate(45deg)
        position: absolute
        content: ''
        width: 2px
        height: 30px
        left: 50%
        margin-left: -1px
        top: 50%
        margin-top: -15px

button
    border: hidden
    cursor: pointer

label
    user-select: none

.show
    display: block !important

.error
    color: rgb(214,72,72)

@keyframes menu__nav__search-close
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(180deg)

@keyframes show-lr
    0%
        opacity: 0
        transform: translateX(-300px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes show-rl
    0%
        opacity: 0
        transform: translateX(300px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes hide-lr
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 0
        transform: translateX(300px)

@keyframes hide-rl
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 0
        transform: translateX(-300px)

@keyframes show-tb
    0%
        opacity: 0
        transform: translateY(300px)
    100%
        opacity: 1
        transform: translateY(0px)

@keyframes hide-tb
    0%
        opacity: 1
        transform: translateY(0px)
    100%
        opacity: 0
        transform: translateY(300px)
