@import "incl/var"
@import "incl/menu"

.cover
    width: 100%
    height: 450px
    &::after
        position: absolute
        content: ''
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba(#000, .55)

main
    @include flex(flex-start, flex-start, $wrap: false)
    background: $color-li
    margin-top: -50px
    border-radius: 10px
    padding-left: 0px !important
    width: 875px

.m-flex-block
    height: 100%
    margin-top: -90px
    .img
        width: 250px
        height: 350px
        border: 10px solid $color-li
        border-radius: 10px
        margin-right: 0

// .read-me
//     transition: .2s
//     opacity: 1
//     position: absolute
//     top: 0
//     left: 0
//     bottom: 0
//     right: 0
//     background: rgba(#000, .8)
//     @include flex(flex-end)

.wrapper
    @include flex(flex-start)
    min-width: 100%

.m-r-10px
    margin-right: 10px

h1
    @include flex(center, flex-start)
    margin-left: 20px
    // margin-top: 20px
    font-size: 24px
    color: $color-li

button
    padding: 6px
    margin: 10px
    margin-top: 0
    width: 230px
    font-size: 15.5px
    border-radius: 5px
    border: 2px solid $color-fd
    background: $color-fd
    color: $color-li
    &:hover
        background: transparent
        color: $color-fd

.column
    max-width: 895px

.simple-ul
    display: none
    top: 38px
    background: $color-li
    border-radius: 5px
    li
        @extend [class*="transition-m"]
        padding: 10px 12px
        cursor: pointer
        font-size: 13.5px
        &.blue:hover
            background: $color-fi
            color: $color-fd
        &.grey:hover
            background: $color-fi
        &.green:hover
            background: $color-fi
            color: $color-green
        &.red:hover
            background: $color-fi
            color: $color-red

[class*="tag"]
    font-weight: normal !important
    margin-left: 0

.info
    margin-top: 30px
    div
        margin-top: 10px
        font-size: 15px
        span
            margin-right: 10px

.status-list
    z-index: 98

.read-status
    @include flex(center, space-between)
    padding: 6px
    margin: 10px
    margin-top: 0
    width: 230px
    font-size: 15.5px
    border-radius: 5px
    border: 2px solid $color-green
    background: $color-green
    color: $color-li
    &:hover
        background: lighten($color-green, 10%)
        border: 2px solid lighten($color-green, 10%)
    svg
        fill: $color-li
        &.arr
            height: 20px
            width: 20px
        &.folder
            height: 20px
            width: 20px

h2
    margin-top: 5px
    font-size: 14px
    font-weight: normal
    margin-left: 20px
    color: $color-li

.m-t--
    margin-top: -80px

.m-t-0
    margin-top: 0

.p-t-10px
    padding-top: 10px

.users-list
    width: 285px
    border-radius: 10px
    .img-box
        @include flex(flex-start, flex-start)
        border-top: 1px solid $color-fd
    .img
        $size: 48px
        width: $size
        height: $size
        margin: 2.5px

.users-list
    width: 285px
    border-radius: 10px
    .img
        $size: 48px
        width: $size
        height: $size
        margin: 2.5px

.p-t--
    padding-top: 0

.list-manga
    width: 285px
    background: $color-li
    border-radius: 10px
    margin-left: 0
    .line
        @include flex(center, flex-start)
        border-radius: 10px
        p, span
            margin-left: 7px
            @extend [class*="transition-m"]
        &:hover
            background: $color-fi
            *
                @extend [class*="transition-m"]
                color: $color-fd
    .cover
        width: 65px
        height: 91px
        border-radius: 5px
        &::after
            width: 0
            height: 0

.hover-color-fd
    @extend [class*="transition-m"]
    &:hover
        color: $color-fd

.stars
    margin-right: 10px

.rating
    @include flex(center, flex-end)
    top: 10px
    right: 10px
    z-index: 99
    cursor: pointer
    user-select: none
    max-width: 170.05px
    svg
        fill: darken($color-fi2, 10%)
        $size: 20px
        height: $size
        width: $size


.user-rating,.hover-rating
    fill: $color-fd !important

table
    width: 100%
    font-size: 14px
    border-spacing: 0
    tr
        &:hover
            background: $color-fi
    td
        padding: 10px 0
        cursor: pointer
        svg
            $size: 17px
            height: $size
            width: $size
            fill: $color-se-d
            transition: .2s
            &:hover
                transition: .2s
                fill: $color-fd

.manga-list
    overflow-y: auto
    border-radius: 10px
    max-height: 444px


    //
