@import "incl/var"
@import "incl/menu"

header
    @include flex(flex-start, flex-start, $wrap: false)
    width: 100%
    margin-top: 150px
    border-radius: 10px
    background: $color-li
    .img
        border-radius: 10px
        $size: 200px
        width: $size
        height: $size

.main-info
    padding-left: 30px
    width: 950px

.lists
    width: 100%
    border-radius: 10px
    nav
        @include flex
        width: 100%

.lists-sort
    @include flex
    $size: 130px
    height: $size
    width: $size
    border-top-left-radius: 15px
    border-bottom-right-radius: 15px
    background: transparent
    padding: 10px
    font-size: 14px
    background-size: cover
    margin: 10px
    &:hover
        &::after
            transform: translate(10px, 10px)
        span
            transform: translate(10px, 10px)
        svg
            transform: translate(10px, 10px)
    &::after
        @extend [class*="transition-m"]
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 0
        z-index: 90
        background: rgba(#000, .8)
        border-top-left-radius: 15px
        border-bottom-right-radius: 15px
    svg
        @extend [class*="transition-m"]
        $size-svg: 40px
        width: $size-svg
        height: $size-svg
        z-index: 91
        fill: #fff
    span
        @extend [class*="transition-m"]
        z-index: 91
        margin-top: 10px
        width: 100%
        color: #fff
        font-size: 16px

.info
    margin-top: 20px
    width: 950px
    table
        width: 100%
        font-size: 14px
        .first
            width: 200px
            color: lighten($color-se, 17%)
    td
        padding-top: 5px
        color: darken($color-se-d, 15%)


h1
    @include flex(center, flex-start)
    .name
        font-size: 28px
        background: linear-gradient(90deg, rgba(235,111,255,1) 0%, #5c43bb 100%)
        background-clip: text
        color: transparent

.name
    margin-right: 10px

.online
    position: absolute
    top: -6.1px
    right: 10px
    span
        display: block
        text-align: center
        background: $color-green
        line-height: 1
        padding: 12px 8px 10px
        border-top-right-radius: 8px
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        width: 90px
        color: #fff
        &::before
            position: absolute
            content: ""
            height: 6px
            width: 6px
            left: -6px
            top: 0
            background: $color-green
        &::after
            position: absolute
            content: ""
            height: 6px
            width: 8px
            left: -8px
            top: 0
            border-radius: 8px 8px 0 0
            background: darken($color-green, 20%)

%info
    display: inline-block
    position: absolute
    right: 0
    color: $color-li
    padding: 2px 5px
    font-size: 13px
    background: rgba($color-se, .9)

.manga-box
        $width: 121px
        width: $width
        transition: .2s
        div
            height: 167px
            width: $width
            border-top-left-radius: 15px
            border-bottom-right-radius: 15px
            .after
                @include flex
                position: absolute
                transition: .3s
                top: 0
                left: 0
                bottom: 0
                right: 0
                transform: scale(0)
                span
                    padding: 10px
                    background: $color-fd
                    color: $color-li
        .info
            @extend %info
            left: 0
            bottom: 0
            border-bottom-right-radius: 15px
        .translater
            @extend %info
            top: 0
        &:hover
            .info
                opacity: 0
            .translater
                opacity: 0
            div
                .after
                    transition: .3s
                    transform: scale(1)
            h3
                color: $color-fd
