// ntf-fade-in-top

[class*="ntf"]
    &.ntf-fade-in-top
        animation: ntf-fade-in-top 5s ease 1 both

@keyframes ntf-fade-in-top
    0%
        transform: translateY(-50px)
        opacity: 0
    10%
        transform: translateY(0px)
        opacity: 1
    90%
        transform: translateY(0px)
        opacity: 1
    100%
        transform: translateY(-50px)
        opacity: 0

// fade out

.fade-out
    animation: fade-out .3s ease 1 both

@keyframes fade-out
    0%
        opacity: 1
    100%
        opacity: 0

// fade in

.fade-in
    animation: fade-in .3s ease 1 both

@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1

// fade in left

.fade-in-left
    animation: fade-in-left .3s ease 1 both

@keyframes fade-in-left
    0%
        transform: translateX(-100px)
        opacity: 0
    100%
        transform: translateX(0px)
        opacity: 1

// // fade in right
//
// .fade-in-right
//     animation: fade-in-right 1s ease 1 both
//
// @keyframes fade-in-right
//     0%
//         transform: translateX(100px)
//         opacity: 0
//     100%
//         transform: translateX(0px)
//         opacity: 1
//
// fade in down

.fade-in-down
    animation: fade-in-down .3s ease 1 both

@keyframes fade-in-down
    0%
        transform: translateY(100px)
        opacity: 0
    100%
        transform: translateY(0px)
        opacity: 1

// fade in up

.fade-in-up
    animation: fade-in-up .3s ease 1 both

@keyframes fade-in-up
    0%
        transform: translateY(-100px)
        opacity: 0
    100%
        transform: translateY(0px)
        opacity: 1

// fade out down

.fade-out-down
    animation: fade-out-down .3s ease 1 both

@keyframes fade-out-down
    0%
        opacity: 1
        transform: translateY(0px)
    100%
        opacity: 0
        transform: translateY(100px)

.fade-out-left
    animation: fade-out-left .3s ease 1 both

@keyframes fade-out-left
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 0
        transform: translateX(100px)
