@mixin flex($alignItems:center, $justifyContent: center, $type: flex, $wrap: true)
    align-items: $alignItems
    justify-content: $justifyContent
    @if $type == flex
        display: flex
    @if $type == inline
        display: inline-flex
    @if $wrap == true
        flex-wrap: wrap

@mixin transition($tr)
    transition: $tr
    &:hover
        transition: $tr

body
    overflow-x: hidden
    padding: 0
    margin: 0
    background: #eee
    min-height: 100vh

*
    box-sizing: border-box
    position: relative
    outline: none
    margin: 0
    padding: 0
    max-width: 100%

a
    cursor: pointer
    text-decoration: none
    font-family: inherit
    color: $pallete-primary


span
    color: inherit

button
    cursor: pointer

[tab-cnt]
    min-height: 600px

[role-box]
    min-height: 600px

[role-box="true"]
    min-height: auto

.s-img-zoom_active
    z-index: 999

.margin-right-5px
    margin-right: 5px

.margin-top-20px
    margin-top: 20px

.margin-top-10px
    margin-top: 10px

.margin-right-20px
    margin-right: 20px

[class*="-abs"]
    position: absolute

.fullscreen-abs-box
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow-y: auto

.blackout
    @include flex
    z-index: 99
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    *
        z-index: 2
    &::after
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: rgba(#000, .5)
        z-index: 1

.wrap
    @include flex(flex-start)
    width: 100%
    .cnt
        width: 100%
        max-width: 1080px

.hide
    display: none !important

// ::-webkit-scrollbar-button
//     background-image: url('')
//     background-repeat: no-repeat
//     width: 5px
//     height: 0px
//
// ::-webkit-scrollbar-track
//     background-color:#ecedee
//
// ::-webkit-scrollbar-thumb
//     background-color: $color-se
//
// ::-webkit-scrollbar-thumb:hover
//     background-color: lighten($color-se, 10%)
//
// ::-webkit-resizer
//     background-image: url('')
//     background-repeat: no-repeat
//     width: 8px
//     height: 0px
//
// ::-webkit-scrollbar
//     width: 8px
