.col-2-1
    display: grid
    grid-template-columns: 2fr 1fr

.col-2
    display: grid
    grid-template-columns: repeat(2, 1fr)

.col-5
    display: grid
    grid-template-columns: repeat(5, 1fr)

.row-1
    display: grid
    grid-template-rows: repeat(1, 1fr)

// %grid-square
//     width: 100%
//     padding-top: 50%
//     padding-bottom: 50%
//
// .grid
//     &_square
//         &_optimal
//             @extend %grid-square
//             .grid__cnt
//                 display: grid
//                 position: absolute
//                 top: 0
//                 left: 0
//                 bottom: 0
//                 right: 0
//                 grid-template-columns: repeat(3, 1fr)
//                 grid-template-rows: repeat(3, 1fr)
