.role
    @include flex($type:inline)
    font-size: 14px
    font-weight: normal
    padding: 5px 10px
    padding-left: 23px
    border-radius: 35px
    border-width: 1px
    border-style: solid
    line-height: 1
    margin: 0 5px
    cursor: pointer
    &::after
        position: absolute
        content: ''
        left: 8px
        $size: 8px
        height: $size
        width: $size
        background: $pallete-secondary
        border-radius: 50%

.role-0
    color: $pallete-primary !important
    border-color: $pallete-primary
    &::after
        background: $pallete-primary

.role-1
    color: $pallete-red !important
    border-color: $pallete-red !important
    &::after
        background: $pallete-red !important
