.settings
    color: $pallete-secondary
    &__title
        span.role
            text-transform: none
    &__title-primary
        font-size: 14px
        text-transform: uppercase
        font-weight: bold
    &__functional-box
        padding: 20px 0
    &__label
        font-size: 15px
        color: $pallete-secondary
        margin: 10px 0
    &__input
        border-radius: 2px
        font-size: 15px
        padding: 10px 15px
        color: $pallete-secondary
        border: 1px solid rgb(223,223,223)
