.btn
    border: hidden
    font-family: 'Montserrat'
    font-size: 16px
    color: $pallete-secondary
    border-radius: 2px
    padding: 10px
    &_green
        background: $pallete-green
        color: $pallete-tertiary
    &_red
        background: $pallete-red
        color: $pallete-tertiary
    &_brand
        background: $pallete-primary
        color: $pallete-tertiary
    &_grey
        background: rgb(236,236,236)
        color: $pallete-secondary
    &_back-link
        background: transparent
        color: $pallete-primary
        font-size: 14px
