.close
    &_cross
        $size: 30px
        $childWeight: 3px
        $padding: 5px
        width: $size
        height: $size
        background: $pallete-red
        &::after, &::before
            content: ''
            background: $pallete-tertiary
        &::after
            position: absolute
            top: 50%
            left: $padding
            right: $padding
            margin-top: -$childWeight / 2
            height: $childWeight
            transform: rotate(45deg)
        &::before
            position: absolute
            top: $padding
            bottom: $padding
            left: 50%
            margin-left: -$childWeight / 2
            width: $childWeight
            transform: rotate(45deg)
