%ntf
    font-family: 'Montserrat'
    font-size: 15px
    padding: 10px
    font-size: 14px
    display: block
    border-radius: 5px
    position: absolute
    max-width: 350px
    transition: .5s
    z-index: 999
    &.t
        top: 10px
        bottom: auto
    &.b
        bottom: 10px
        top: auto
    &.l
        left: 10px
        right: auto
    &.r
        right: 10px
        left: auto
    p
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap

@mixin ntf ($f-color, $s-color)
    @extend %ntf
    background-color: $f-color
    color: $s-color
    border: 1px solid $s-color
    g, svg
        fill: $s-color
    svg
        margin-left: 5px

[class*="s-ntf"]
    @include ntf(#dbdbdb, #333)

.s-ntf
    &-ok
        @include ntf($pallete-green, #fff)
    &-warn
        @include ntf(#fff3cd, #856404)
    &-dang
        @include ntf($pallete-red, #fff)
    &-main
        @include ntf(#cce5ff, #004085)
