.notifications
    background: $color-fi
    position: fixed
    top: 60px
    bottom: 0
    right: 0
    width: 500px
    z-index: 99
    box-shadow: -10px 0 30px -15px $color-se-d
    .close-notif
        cursor: pointer
    .img-box
        width: 65px
        height: 91px
        border-radius: 5px
    .text-notif
        margin-left: 10px
        width: 375px
    .box-notif
        padding: 15px
        padding-top: 0
        width: 100%
        .line
            @extend [class*="shadow-dark"]
            @extend [class*="transition-m"]
            @include flex(center, flex-start)
            cursor: pointer
            margin-top: 10px
            padding: 10px
            border-radius: 5px
            background: $color-li
            &:hover
                transform: scale(1.015)
            .header
                margin-bottom: 10px
    .top-panel
        @include flex(center, flex-start)
        width: 100%
        padding: 10px
        svg
            width: 22px
            height: 22px
            fill: $color-se
    .top-text
        width: 100%
        @include flex(center, space-between)

.menu
    @include flex
    position: fixed
    top: 0
    left: 0
    height: 62px
    z-index: 996
    right: 0
    .content-area
        justify-content: space-between
        align-items: center
    &__nav
        @include flex
        &__link
            padding: 20px
            &:hover
                color: $color-fd
                &::after
                    animation: menu__nav__link__after .2s 1 linear both
                .menu__nav__link__ul
                    @include flex
                    color: $color-se
                    animation: menu__nav__link__items .4s 1 linear both
                    animation-direction: alternate
                    .menu__nav__link__items
                        &:hover
                            color: $color-fd
            &::after
                $menu__nav__link: 2px
                position: absolute
                content: ''
                width: 100%
                height: $menu__nav__link
                background: $color-fd
                top: -$menu__nav__link
                left: 0
            &__ul
                z-index: 98
                display: none
                position: absolute
                left: 0
                top: 62px
                max-width: 250px
            &__items
                list-style-type: none
                width: 100%
                padding: 10px
                background: $color-li
            &__active
                color: $color-fd
                font-weight: bold
        &__search-box
            @include flex(center, flex-start)
            border-radius: 5px
            width: 281px
            &__search
                &-input
                    border-style: hidden
                    padding: 10px 15px
                    border-radius: 5px
                &-process
                    position: absolute
                    right: 0
                    top: 0
                    display: none
                    height: 39px
                    width: 39px
                    border-radius: 5px
                    svg
                        fill: $color-se
                        height: 25px
                        width: 25px
            &__panel
                display: none
                z-index: 97
                position: absolute
                top: 52px
                width: 600px
                max-width: 600px
                left: 50%
                margin-left: -300px
                &__params
                    @include flex(center, flex-end)
                    padding: 10px
                    background: $color-li
                    width: 600px
                    border-radius: 5px
                    max-width: 600px
                    span
                        margin: 3px
                        padding: 5px
                        background: $color-fi
                        border-radius: 5px
                        cursor: pointer
                        user-select: none
                        &.active
                            @extend [class*="shadow-brand"]
                            @extend [class*="transition-m"]
                            background: $color-fd
                            color: $color-li
                            transform: translateY(-5px)
                &__result
                    display: none
                    min-height: 90px
                    background: $color-li
                    border-radius: 5px
                    margin-top: 2px
                    .line
                        @include flex(center, flex-start)
                        width: 100%
                        height: 90px
                        padding: 10px
                        &:hover
                            @extend [class*="transition-m"]
                            background: $color-fi
                            h3
                                @extend [class*="transition-m"]
                                color: $color-fd
                        img
                            height: 100%
                        div
                            padding: 0 10px

    &__panel
        @include flex(center, flex-end)
        &__link
            padding: 20px
            &:hover
                color: $color-fd

.user-nav
    @include flex(center, flex-end)
    .item
        @extend [class*="transition-m"]
        margin-left: 20px
        cursor: pointer
        svg
            @extend [class*="transition-m"]
        &:hover
            color: $color-fd
            svg
                fill: $color-fd
    .ava
        $size: 40px
        height: $size
        width: $size
        border-radius: 50%
    .list
        top: 50px
        background: $color-li
        color: $color-se
    svg
        $size: 25px
        height: $size
        width: $size
        fill: $color-se

.checkbox
    @include flex(flex-start, flex-start, $wrap: false)
    cursor: pointer
    user-select: none
    .input
        display: inline-block
        $size: 20px
        height: $size
        width: $size
        border-radius: 2px
        border: 1px solid rgb(225, 225, 225)
        margin-right: 10px
    &.active
        .input
            background: $color-fd
            border-color: $color-fd
            &::after
                content: ''
                position: absolute
                width: 10px
                height: 10px
                left: 50%
                margin-left: -5px
                top: 50%
                margin-top: -5px
                border-radius: 2px
                background: #fff
    .text
        font-size: 14px

.btn-stand
    padding: 5px 10px
    background: $color-fd
    border-radius: 5px
    color: $color-li

.btn-help
    padding: 5px 0px
    background: transparent
    border-radius: 5px
    color: $color-fd

.auth
    width: 380px
    padding: 50px
    .error
        display: none
    .ok
        border: 1px solid $color-green
    span
        width: auto !important
        text-align: center
    button, input
        border-radius: 5px
    .btn-box
        @include flex(center, space-between)
        width: 100%
    hr
        width: 85%
        margin-top: 20px
    .checkbox
        margin-left: 30px
    .input
        width: 20px !important
    input
        width: 100%
        padding: 8px 20px
        font-size: 14px
        border: 1px solid $color-fi2

@keyframes menu__nav__link__after
    0%
        top: 0px
    100%
        top: 60px

@keyframes menu__nav__link__items
    0%
        opacity: 0
    100%
        opacity: 1

@keyframes search-process
    0%
        transform: rotate(0deg)
    50%
        transform: rotate(180deg)
    60%
        transform: translateY(-10px)
    100%
        transform: rotate(360deg)
