@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=cyrillic')

$color-fi: #eee
$color-fi2: darken($color-fi, 5%)
$color-se: #4d4d4d
$color-se-d: #2d2d2d
$color-fd: #00c0ff
$color-li: #fff
$color-green: #44d281
$color-red: #e76e6e

@mixin flex($alignItems:center, $justifyContent: center, $type: flex, $wrap: true)
    align-items: $alignItems
    justify-content: $justifyContent
    @if $type == flex
        display: flex
    @if $type == inline
        display: inline-flex
    @if $wrap == true
        flex-wrap: wrap

*
    box-sizing: border-box
    position: relative
    outline: none
    margin: 0
    padding: 0
    max-width: 100%
    font-family: 'Montserrat'
    background-size: cover
    color: $color-se

%global-search-link
    padding-bottom: 2px
    border-bottom: 1px dashed $color-fd
    cursor: pointer
    &:hover
        border-bottom-style: solid

span
    & > .global-search-link
        @extend %global-search-link

p
    & > .global-search-link
        @extend %global-search-link

td
    & > .global-search-link
        @extend %global-search-link

a
    cursor: pointer
    text-decoration: none

span, a
    color: inherit

body
    padding-top: 62px

[data-link]
    cursor: pointer

[class*="pointer"]
    cursor: pointer

[class*="c-fi"]
    color: $color-fi

[class*="b-r-10px"]
    border-radius: 10px

[class*="b-r-5px"]
    border-radius: 5px

[class*="c-se"]
    color: $color-se

[class*="c-fd"]
    color: $color-fd

[class*="c-li"]
    color: $color-li

[class*="hover-c-fi"]
    &:hover
        color: $color-fi

[class*="hover-c-se"]
    &:hover
        color: $color-se

[class*="hover-c-fd"]
    &:hover
        color: $color-fd

[class*="hover-c-li"]
    &:hover
        color: $color-li

[class*="b-fi"]
    background-color: $color-fi

[class*="b-se"]
    background-color: $color-se

[class*="b-se-d"]
    background-color: $color-se-d

[class*="b-fd"]
    background-color: $color-fd

[class*="b-li"]
    background-color: $color-li

[class*="content-area"]
    max-width: 1200px
    width: 100%
    @include flex(flex-start)

[class*="tag"]
    border-radius: 10px
    padding: 3px 7px
    font-weight: bold
    margin: 10px

[class*="-green"]
    background: $color-green
    color: $color-li

[class*="-blue"]
    background: $color-fd
    color: $color-li


[class*="-red"]
    background: rgb(210,68,68)
    color: $color-li

[class*="-yelow"]
    background: rgb(232,179,20)
    color: $color-li

[class*="font-11px"]
    font-size: 11px

[class*="font-12px"]
    font-size: 12px

[class*="font-13px"]
    font-size: 13px

[class*="font-14px"]
    font-size: 14px

[class*="font-15px"]
    font-size: 15px

[class*="font-16px"]
    font-size: 16px

[class*="font-17px"]
    font-size: 17px

[class*="font-18px"]
    font-size: 18px

[class*="font-19px"]
    font-size: 19px

[class*="font-20px"]
    font-size: 20px

[class*="bold"]
    font-weight: bold

[class*="normal"]
    font-weight: normal

[class*="text-right"]
    text-align: right

[class*="center"]
    @include flex

[class*="uppercase"]
    text-transform: uppercase

[class*="bord-cl"]
    border: 1px solid $color-fi2

[class*="m-b-10px"]
    margin-bottom: 10px

[class*="m-b-20px"]
    margin-bottom: 20px

[class*="p-10px"]
    padding: 10px

[class*="p-20px"]
    padding: 20px

[class*="m-t-20px"]
    margin-top: 20px

[class*="m-t-10px"]
    margin-top: 10px

[class*="m-t-5px"]
    margin-top: 5px

.m-l-10px
    margin-left: 10px

.m-l-30px
    margin-left: 30px

[class*="m-l-5px"]
    margin-left: 5px

[class*="show-lr"]
    animation: show-lr .2s 1 linear both

[class*="show-rl"]
    animation: show-rl .2s 1 linear both

[class*="hide-lr"]
    animation: hide-lr .2s 1 linear both

[class*="hide-rl"]
    animation: hide-rl .2s 1 linear both

[class*="show-tb"]
    animation: show-tb .2s 1 linear both

[class*="hide-tb"]
    animation: hide-tb .2s 1 linear both

[class*="simple-ul"]
    li
        list-style-type: none

[class*="absolute"]
    position: absolute

[class*="fixed"]
    position: fixed

[class*="top-0"]
    top: 0

[class*="left-0"]
    left: 0

[class*="bottom-0"]
    bottom: 0

[class*="right-0"]
    right: 0

[class*="margin-10px"]
    margin: 10px

[class*="search-process-anim"]
    align-items: center
    justify-content: center
    display: inline-flex !important
    animation: search-process 1s infinite linear

[class*="transition-m"]
    transition: .2s
    &:hover
        transition: .2s

[class*="shadow-brand"]
    box-shadow: 0 3px 10px -5px $color-fd

[class*="shadow-dark"]
    box-shadow: 0 0px 10px -5px $color-se

[class*="shadow-dark-big"]
    box-shadow: 0 0px 5px 0px $color-se

[class*="block"]
    display: block !important

hr
    border: .5px solid $color-fi2

body,
html
    overflow-x: hidden
    background-attachment: fixed

.wrapper
    @include flex(flex-start)
    width: 100%

button
    border: hidden
    cursor: pointer
    user-select: none
    &[disabled]
        cursor: default
        background: $color-fi2
        color: $color-se

.substrate
    background: rgba(#000, .7)
    z-index: 9998

.func-comm
    width: 100%
    @include flex(flex-start, space-between)
    button
        width: auto !important
        border: hidden
        background: $color-li
        color: $color-se
        border: 1px solid $color-li
        margin: auto !important
        &:hover
            color: $color-se
        &.active
            border: 1px solid $color-fd
            color: $color-fd

.comment-box
    .textarea
        width: 100%
        border: 1px solid $color-fi2
        .input
            width: 100%
            min-height: 100px
            padding: 10px
            .spoiler
                display: inline-block
                color: $color-li
                background: $color-se
                min-width: 50px
                min-height: 24px
            b, i, em, strike, u
                color: inherit
        .controls
            @include flex(center, space-between)
            width: 100%
            height: 45px
            padding: 0 10px
            border-top: 1px solid $color-fi2
            button
                @extend [class*="transition-m"]
                border: 1px solid $color-fd
                background: $color-fd
                color: $color-li
                font-size: 14px
                &:hover
                    background: transparent
                    color: $color-fd
            div
                @include flex
            span
                @include flex
                $size: 35px
                height: $size
                width: $size
                border-radius: 50%
                background: $color-fi
                margin-right: 5px
                cursor: pointer
                &:hover
                    svg
                        fill: $color-fd
                &.active
                    svg
                        fill: $color-fd
            svg
                @extend [class*="transition-m"]
                $size: 20px
                height: $size
                width: $size
                fill: $color-se
    .spoiler
        padding: 3px
        margin: 0 5px
        display: inline-block
        color: $color-se
        background: $color-se
        &:hover
            color: $color-li
    .after-spoiler
        display: inline-block
        min-width: 10px
        min-height: 14px
    .before-spoiler
        display: inline-block
        min-width: 5px
        min-height: 14px
.comm
    @include flex(center, space-between)
    // border-bottom: 1px solid $color-fi2
    padding-bottom: 10px
    width: 100%
    &-box
        width: 100%
    .reply-box
        width: 100%
        padding-left: 40px
        border-left: 1px solid $color-fi2
    .main-info
        @include flex(center, flex-start)
        span
            color: darken($color-fi2, 30%)
    .img
        $size: 33px
        height: $size
        width: $size
        border-radius: 5px
    .title
        margin-left: 10px
    .role
        border: hidden !important
        padding: 0
        padding-left: 23px
        margin-left: 0
    .text
        width: 100%
        font-size: 13.9px
        margin-top: 10px
        line-height: 1.7
    .under-control
        @include flex(center, flex-start)
        width: 100%
        [class*="like"]
            @include flex
            margin-left: 10px
            font-size: 13px
        svg
            $size: 25px
            height: $size
            width: $size
            fill: darken($color-fi2, 20%)

.role
    @include flex($type:inline)
    font-size: 14px
    font-weight: normal
    padding: 5px 10px
    padding-left: 23px
    border-radius: 35px
    border-width: 1px
    border-style: solid
    line-height: 1
    margin: 0 5px
    &::after
        position: absolute
        content: ''
        left: 8px
        $size: 8px
        height: $size
        width: $size
        border-radius: 50%

.role-coder
    color: $color-fd !important
    border-color: $color-fd
    &::after
        background: $color-fd

.role-admin
    color: $color-red !important
    border-color: $color-red !important
    &::after
        background: $color-red !important

label
    user-select: none

.show
    display: block !important

.hide
    display: none

.error
    color: rgb(214,72,72)

::-webkit-scrollbar-button
    background-image: url('')
    background-repeat: no-repeat
    width: 5px
    height: 0px

::-webkit-scrollbar-track
    background-color:#ecedee

::-webkit-scrollbar-thumb
    background-color: $color-se

::-webkit-scrollbar-thumb:hover
    background-color: lighten($color-se, 10%)

::-webkit-resizer
    background-image: url('')
    background-repeat: no-repeat
    width: 8px
    height: 0px

::-webkit-scrollbar
    width: 8px
