<div class="notifications hide">
    <div class="top-panel">
        <span class="close-notif">
            <svg>
                <use xlink:href="/assets/img/sprite.svg#remove"></use>
            </svg>
        </span>
    </div>
    <div class="box-notif">
        <div class="line">
            <div class="img-box" style="background-image: url(/assets/img/demo-manga.jpg)"></div>
            <div class="text-notif">
                <div class="top-text header">
                    <span class="font-15px bold">Заголовок уведомления</span>
                    <span class="font-13px">23.10.20</span>
                </div>
                <p class="font-14px main-text">Основной текст уведомления, бла-бла, дорогой извращенец, твоя любимая хентай-манга обновилась.</p>
            </div>
        </div>
    </div>
</div>
<menu class="menu b-li center">
    <div class="content-area">
        <a href="/">
            <img src="/assets/img/logo.png" style="height: 40px">
        </a>
        <nav class="menu__nav__search-box bord-cl">
            <input type="text" placeholder="Поиск" class="menu__nav__search-box__search-input font-16px">
            <a class="menu__nav__search-box__search-process">
                <svg>
                    <use xlink:href="/assets/img/sprite.svg#search"></use>
                </svg>
            </a>
            <div class="menu__nav__search-box__panel transition-m shadow-brand">
                <div class="menu__nav__search-box__panel__params">
                    <span class="active sort" data-type-sort="manga">Манга</span>
                    <span data-type-sort="author" class="sort">Автор</span>
                    <span data-type-sort="artist" class="sort">Художник</span>
                    <span data-type-sort="translater" class="sort">Переводчик</span>
                    <span data-type-sort="user" class="sort">Пользователь</span>
                </div>
                <div class="menu__nav__search-box__panel__result">

                </div>
            </div>
        </nav>
        <nav class="menu__nav font-18px c-se">
            <a class="menu__nav__link transition-m">
                Каталог
                <ul class="menu__nav__link__ul font-16px shadow-brand">
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=0_&">Манга</li>
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=1_&">Манхва</li>
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=2_&">Маньхуа</li>
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=3_&">OEL-манга</li>
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=4_&">Руманга</li>
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=5_&">Комикс западный</li>
                    <li class="menu__nav__link__items transition-m" data-link="/catalog?cat=6_&">Сингл</li>
                    <li class="menu__nav__link__items transition-m m-t-5px" data-link="/catalog?">Все</li>
                    <li class="menu__nav__link__items transition-m">Случайная</li>
                </ul>
            </a>
            <a data-link="/faq" class="menu__nav__link transition-m">FAQ</a>
        </nav>
        <div class="menu__panel">
            <!-- До входа -->
            <!-- <a class="menu__panel__link transition-m" data-auth="sign-in">Войти</a>
            <a class="menu__panel__link transition-m" data-auth="reg">Регистрация</a> -->
            <!-- После входа -->
            <div class="user-nav">
                <div class="select item">
                    <svg>
                        <use xlink:href="/assets/img/sprite.svg#team"></use>
                    </svg>
                </div>
                <div class="item open-notif">
                    <svg>
                        <use xlink:href="/assets/img/sprite.svg#notification"></use>
                    </svg>
                </div>
                <div class="item">
                    <svg>
                        <use xlink:href="/assets/img/sprite.svg#addBookmark"></use>
                    </svg>
                </div>
                <div class="item">
                    <!-- аватарка -->
                    <div class="ava" style="background-image: url()"></div>
                </div>
                <div class="item center">
                    <svg class="transition-m">
                        <use xlink:href="/assets/img/sprite.svg#exit"></use>
                    </svg>
                    <span class="m-l-5px" data-exit>Выход</span>
                </div>
            </div>
        </div>
    </div>
</menu>
